---
layout: layouts/base.njk
title: Blog | Micah T. Hobbs
---

<h1 class="text-2xl font-normal">Blog</h1>
<ul>
  {% for post in collections.post %}
  <li class="pt-2">
    <a href="{{ post.url }}" class="underline text-blue-600">
      <h3>{{ post.data.title }}</h3>
      <!-- <time>{{ post.data.date }} </time> -->
    </a>
  </li>
  {% endfor %}
</ul> 