---
layout: layouts/base.njk
title: Blog | Micah T. Hobbs
---

<h1 class="text-5xl font-bold">Blog</h1>
<br>
<ul>
  {% for post in collections.post %}
  <li class="py-2 border-b border-b-solid border-b-tania-border-color last:border-b-0">
    <time> {{ post.data.date }} </time>
    <a href="{{ post.url }}" class="">
      <p>{{ post.data.title }}</p>
    </a>
  </li>
  {% endfor %}
  </ul> 

